In [22]:
import pandas as pd
import numpy as np

In [23]:
data=pd.read_csv("Resources/Final_Data.csv")

In [24]:
data.head()

,Zip_Code,Date,Year,Month,Sale_Price,Interest_Rate,Property_Tax,Rent_Price,Household_Income,Rent_Affordability,...,FTE_Employed,Unemployed,Expense_Index,Average_Commute,Crime_Index,Loan_Amount,Loan_Term,Loan_R,Loan_Payment,Home_Affordability
0,32003,2019-01-01,2019,1,244950.0,4.4640,3778,1113,94154.0,0.141853,...,10671,1069,104,35,28,195960.0,360.0,1.003720,988.713278,0.126012
1,32003,2019-02-01,2019,2,270000.0,4.3700,3778,1113,94154.0,0.141853,...,10671,1069,104,35,28,216000.0,360.0,1.003642,1077.819242,0.137369
2,32003,2019-03-01,2019,3,275000.0,4.2650,3778,1113,94154.0,0.141853,...,10671,1069,104,35,28,220000.0,360.0,1.003554,1084.200547,0.138182
3,32003,2019-04-01,2019,4,264500.0,4.1425,3778,1113,94154.0,0.141853,...,10671,1069,104,35,28,211600.0,360.0,1.003452,1027.671397,0.130978
4,32003,2019-05-01,2019,5,281000.0,4.0720,3778,1113,94154.0,0.141853,...,10671,1069,104,35,28,224800.0,360.0,1.003393,1082.581718,0.137976

In [25]:
data["School_Grade"].tail()

21759    A
21760    A
21761    A
21762    A
21763    A
Name: School_Grade, dtype: object

In [26]:
data.dtypes

Zip_Code                int64
Date                   object
Year                    int64
Month                   int64
Sale_Price            float64
Interest_Rate         float64
Property_Tax            int64
Rent_Price              int64
Household_Income      float64
Rent_Affordability    float64
Total_Sales             int64
FHA_Count               int64
Mobility_Rate         float64
School_Rating           int64
School_Grade           object
Owner_Occupied          int64
Renter_Occupied         int64
Total_Vacant            int64
Total_Dwellings         int64
FTE_Employed            int64
Unemployed              int64
Expense_Index           int64
Average_Commute         int64
Crime_Index             int64
Loan_Amount           float64
Loan_Term             float64
Loan_R                float64
Loan_Payment          float64
Home_Affordability    float64
dtype: object

In [27]:
big_set_data = data.drop(columns = ['Date', 'Interest_Rate', 'School_Grade'])
print(type(big_set_data))

<class 'pandas.core.frame.DataFrame'>

In [28]:
big_set_data['Last_Month_Price'] = big_set_data.groupby(['Zip_Code'])['Sale_Price'].shift()



price_difference = []

# for (Sale_Price, Last_Month_Price) in test.iteritems():
#     # sale = row.Sale_Price
#     # last = row.Last_Month_Price
#     price_difference.append(row)

for column in big_set_data[['Sale_Price', 'Last_Month_Price']]:
   # Select column contents by column name using [] operator
    current_sales = big_set_data['Sale_Price'].values
    last_sales = big_set_data['Last_Month_Price'].values
    price_difference.append(current_sales-last_sales)

big_set_data['Last_Month_Diff'] = price_difference[0]

price_change = []

for row in big_set_data['Last_Month_Diff']:
    if row > 0:
        price_change.append(1)
    else:
        price_change.append(0)
big_set_data['Price_Change_1mo'] = price_change

big_set_data

,Zip_Code,Year,Month,Sale_Price,Property_Tax,Rent_Price,Household_Income,Rent_Affordability,Total_Sales,FHA_Count,...,Average_Commute,Crime_Index,Loan_Amount,Loan_Term,Loan_R,Loan_Payment,Home_Affordability,Last_Month_Price,Last_Month_Diff,Price_Change_1mo
0,32003,2019,1,244950.0,3778,1113,94154.0,0.141853,32,7,...,35,28,195960.0,360.0,1.003720,988.713278,0.126012,NaN,NaN,0
1,32003,2019,2,270000.0,3778,1113,94154.0,0.141853,41,2,...,35,28,216000.0,360.0,1.003642,1077.819242,0.137369,244950.0,25050.0,1
2,32003,2019,3,275000.0,3778,1113,94154.0,0.141853,21,7,...,35,28,220000.0,360.0,1.003554,1084.200547,0.138182,270000.0,5000.0,1
3,32003,2019,4,264500.0,3778,1113,94154.0,0.141853,42,3,...,35,28,211600.0,360.0,1.003452,1027.671397,0.130978,275000.0,-10500.0,0
4,32003,2019,5,281000.0,3778,1113,94154.0,0.141853,66,8,...,35,28,224800.0,360.0,1.003393,1082.581718,0.137976,264500.0,16500.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21759,34997,2020,10,285000.0,3067,1211,58789.0,0.247189,139,17,...,24,113,228000.0,360.0,1.002362,940.965557,0.192070,285000.0,0.0,0
21760,34997,2020,11,259750.0,3067,1211,58789.0,0.247189,132,11,...,24,113,207800.0,360.0,1.002304,849.977103,0.173497,285000.0,-25250.0,0
21761,34997,2020,11,259750.0,3067,1211,58789.0,0.247189,132,11,...,24,113,207800.0,360.0,1.002304,849.977103,0.173497,259750.0,0.0,0
21762,34997,2020,12,297000.0,3067,1211,58789.0,0.247189,142,16,...,24,113,237600.0,360.0,1.002237,961.694879,0.196301,259750.0,37250.0,1
21763,34997,2020,12,297000.0,3067,1211,58789.0,0.247189,142,16,...,24,113,237600.0,360.0,1.002237,961.694879,0.196301,297000.0,0.0,0

In [30]:
big_set_data.dropna(inplace=True)

In [33]:
big_set_data.to_csv('big_set_data.csv')

In [32]:
big_set_data.head()

,Zip_Code,Year,Month,Sale_Price,Property_Tax,Rent_Price,Household_Income,Rent_Affordability,Total_Sales,FHA_Count,...,Average_Commute,Crime_Index,Loan_Amount,Loan_Term,Loan_R,Loan_Payment,Home_Affordability,Last_Month_Price,Last_Month_Diff,Price_Change_1mo
1,32003,2019,2,270000.0,3778,1113,94154.0,0.141853,41,2,...,35,28,216000.0,360.0,1.003642,1077.819242,0.137369,244950.0,25050.0,1
2,32003,2019,3,275000.0,3778,1113,94154.0,0.141853,21,7,...,35,28,220000.0,360.0,1.003554,1084.200547,0.138182,270000.0,5000.0,1
3,32003,2019,4,264500.0,3778,1113,94154.0,0.141853,42,3,...,35,28,211600.0,360.0,1.003452,1027.671397,0.130978,275000.0,-10500.0,0
4,32003,2019,5,281000.0,3778,1113,94154.0,0.141853,66,8,...,35,28,224800.0,360.0,1.003393,1082.581718,0.137976,264500.0,16500.0,1
5,32003,2019,6,275000.0,3778,1113,94154.0,0.141853,43,3,...,35,28,220000.0,360.0,1.003169,1025.419293,0.130690,281000.0,-6000.0,0

In [ ]:
# Compare to available high and low median sales prices in time available

In [ ]:
# Compute time since available high and low median sales prices in time available