In [1]:
import pandas as pd
import numpy as np

In [34]:
df = pd.read_csv('Resources/Final_Data.csv')
df

,Zip_Code,Date,Year,Month,Sale_Price,Interest_Rate,Property_Tax,Rent_Price,Household_Income,Rent_Affordability,...,FTE_Employed,Unemployed,Expense_Index,Average_Commute,Crime_Index,Loan_Amount,Loan_Term,Loan_R,Loan_Payment,Home_Affordability
0,32003,2019-01-01,2019,1,244950.0,4.4640,3778,1113,94154.0,0.141853,...,10671,1069,104,35,28,195960.0,360.0,1.003720,988.713278,0.126012
1,32003,2019-02-01,2019,2,270000.0,4.3700,3778,1113,94154.0,0.141853,...,10671,1069,104,35,28,216000.0,360.0,1.003642,1077.819242,0.137369
2,32003,2019-03-01,2019,3,275000.0,4.2650,3778,1113,94154.0,0.141853,...,10671,1069,104,35,28,220000.0,360.0,1.003554,1084.200547,0.138182
3,32003,2019-04-01,2019,4,264500.0,4.1425,3778,1113,94154.0,0.141853,...,10671,1069,104,35,28,211600.0,360.0,1.003452,1027.671397,0.130978
4,32003,2019-05-01,2019,5,281000.0,4.0720,3778,1113,94154.0,0.141853,...,10671,1069,104,35,28,224800.0,360.0,1.003393,1082.581718,0.137976
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21759,34997,2020-10-01,2020,10,285000.0,2.8340,3067,1211,58789.0,0.247189,...,15421,1267,91,24,113,228000.0,360.0,1.002362,940.965557,0.192070
21760,34997,2020-11-01,2020,11,259750.0,2.7650,3067,1211,58789.0,0.247189,...,15421,1267,91,24,113,207800.0,360.0,1.002304,849.977103,0.173497
21761,34997,2020-11-01,2020,11,259750.0,2.7650,3067,1211,58789.0,0.247189,...,15421,1267,91,24,113,207800.0,360.0,1.002304,849.977103,0.173497
21762,34997,2020-12-01,2020,12,297000.0,2.6840,3067,1211,58789.0,0.247189,...,15421,1267,91,24,113,237600.0,360.0,1.002237,961.694879,0.196301
21763,34997,2020-12-01,2020,12,297000.0,2.6840,3067,1211,58789.0,0.247189,...,15421,1267,91,24,113,237600.0,360.0,1.002237,961.694879,0.196301

In [44]:
data = df[['Zip_Code', 'Year', 'Month', 'Total_Sales', 'FHA_Count', 'Mobility_Rate', 
'Home_Affordability', 'Rent_Affordability', 'Sale_Price' ]]

data = data.drop_duplicates()

data

,Zip_Code,Year,Month,Total_Sales,FHA_Count,Mobility_Rate,Home_Affordability,Rent_Affordability,Sale_Price
0,32003,2019,1,32,7,0.182327,0.126012,0.141853,244950.0
1,32003,2019,2,41,2,0.182327,0.137369,0.141853,270000.0
2,32003,2019,3,21,7,0.182327,0.138182,0.141853,275000.0
3,32003,2019,4,42,3,0.182327,0.130978,0.141853,264500.0
4,32003,2019,5,66,8,0.182327,0.137976,0.141853,281000.0
...,...,...,...,...,...,...,...,...,...
21754,34997,2020,8,123,18,0.143471,0.171370,0.247189,251000.0
21756,34997,2020,9,115,18,0.143471,0.173776,0.247189,256000.0
21758,34997,2020,10,139,17,0.143471,0.192070,0.247189,285000.0
21760,34997,2020,11,132,11,0.143471,0.173497,0.247189,259750.0
21762,34997,2020,12,142,16,0.143471,0.196301,0.247189,297000.0

In [48]:
data['Last_Month_Price'] = ml_data.groupby(['Zip_Code'])['Sale_Price'].shift()
data

price_difference = []

for column in data[['Sale_Price', 'Last_Month_Price']]:
   # Select column contents by column name using [] operator
    current_sales = data['Sale_Price'].values
    last_sales = data['Last_Month_Price'].values
    price_difference.append(current_sales-last_sales)

data['Last_Month_Diff'] = price_difference[0]

price_change = []

for row in data['Last_Month_Diff']:
    if row > 0:
        price_change.append(1)
    else:
        price_change.append(0)
data['Price_Change_1mo'] = price_change

data

,Zip_Code,Year,Month,Total_Sales,FHA_Count,Mobility_Rate,Home_Affordability,Rent_Affordability,Sale_Price,Last_Month_Price,Last_Month_Diff,Price_Change_1mo
0,32003,2019,1,32,7,0.182327,0.126012,0.141853,244950.0,NaN,NaN,0
1,32003,2019,2,41,2,0.182327,0.137369,0.141853,270000.0,244950.0,25050.0,1
2,32003,2019,3,21,7,0.182327,0.138182,0.141853,275000.0,270000.0,5000.0,1
3,32003,2019,4,42,3,0.182327,0.130978,0.141853,264500.0,275000.0,-10500.0,0
4,32003,2019,5,66,8,0.182327,0.137976,0.141853,281000.0,264500.0,16500.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
21754,34997,2020,8,123,18,0.143471,0.171370,0.247189,251000.0,255000.0,-4000.0,0
21756,34997,2020,9,115,18,0.143471,0.173776,0.247189,256000.0,251000.0,5000.0,1
21758,34997,2020,10,139,17,0.143471,0.192070,0.247189,285000.0,256000.0,29000.0,1
21760,34997,2020,11,132,11,0.143471,0.173497,0.247189,259750.0,285000.0,-25250.0,0
21762,34997,2020,12,142,16,0.143471,0.196301,0.247189,297000.0,259750.0,37250.0,1