In [173]:
# Required Modules
import pandas as pd
import numpy as np

In [174]:
data = pd.read_csv('Resources/Final_Data.csv')
data.head()

,Zip_Code,Date,Year,Month,Sale_Price,Interest_Rate,Property_Tax,Rent_Price,Household_Income,Rent_Affordability,...,FTE_Employed,Unemployed,Expense_Index,Average_Commute,Crime_Index,Loan_Amount,Loan_Term,Loan_R,Loan_Payment,Home_Affordability
0,32003,2019-01-01,2019,1,244950.00,4.46,3778,1113,94154.00,0.14,...,10671,1069,104,35,28,195960.00,360.00,1.00,988.71,0.13
1,32003,2019-02-01,2019,2,270000.00,4.37,3778,1113,94154.00,0.14,...,10671,1069,104,35,28,216000.00,360.00,1.00,1077.82,0.14
2,32003,2019-03-01,2019,3,275000.00,4.26,3778,1113,94154.00,0.14,...,10671,1069,104,35,28,220000.00,360.00,1.00,1084.20,0.14
3,32003,2019-04-01,2019,4,264500.00,4.14,3778,1113,94154.00,0.14,...,10671,1069,104,35,28,211600.00,360.00,1.00,1027.67,0.13
4,32003,2019-05-01,2019,5,281000.00,4.07,3778,1113,94154.00,0.14,...,10671,1069,104,35,28,224800.00,360.00,1.00,1082.58,0.14

In [175]:
data.dtypes

Zip_Code                int64
Date                   object
Year                    int64
Month                   int64
Sale_Price            float64
Interest_Rate         float64
Property_Tax            int64
Rent_Price              int64
Household_Income      float64
Rent_Affordability    float64
Total_Sales             int64
FHA_Count               int64
Mobility_Rate         float64
School_Rating           int64
School_Grade           object
Owner_Occupied          int64
Renter_Occupied         int64
Total_Vacant            int64
Total_Dwellings         int64
FTE_Employed            int64
Unemployed              int64
Expense_Index           int64
Average_Commute         int64
Crime_Index             int64
Loan_Amount           float64
Loan_Term             float64
Loan_R                float64
Loan_Payment          float64
Home_Affordability    float64
dtype: object

In [176]:
ml_data = data[['Zip_Code', 'Year', 'Month', 'Total_Sales', 'FHA_Count', 
'Home_Affordability', 'Rent_Affordability', 'Sale_Price' ]]
ml_data

,Zip_Code,Year,Month,Total_Sales,FHA_Count,Home_Affordability,Rent_Affordability,Sale_Price
0,32003,2019,1,32,7,0.13,0.14,244950.00
1,32003,2019,2,41,2,0.14,0.14,270000.00
2,32003,2019,3,21,7,0.14,0.14,275000.00
3,32003,2019,4,42,3,0.13,0.14,264500.00
4,32003,2019,5,66,8,0.14,0.14,281000.00
...,...,...,...,...,...,...,...,...
22618,34997,2020,10,139,17,0.19,0.25,285000.00
22619,34997,2020,11,132,11,0.17,0.25,259750.00
22620,34997,2020,11,132,11,0.17,0.25,259750.00
22621,34997,2020,12,142,16,0.20,0.25,297000.00
22622,34997,2020,12,142,16,0.20,0.25,297000.00

In [177]:
count = np.isinf(ml_data).values.sum()
print("It contains " + str(count) + " infinite values")

It contains 171 infinite values

In [178]:
# Replacing infinite with nan
ml_data.replace([np.inf, -np.inf], np.nan, inplace=True)
  
# Dropping all the rows with nan values
ml_data.dropna(inplace=True)
  
# Printing df
ml_data

,Zip_Code,Year,Month,Total_Sales,FHA_Count,Home_Affordability,Rent_Affordability,Sale_Price
0,32003,2019,1,32,7,0.13,0.14,244950.00
1,32003,2019,2,41,2,0.14,0.14,270000.00
2,32003,2019,3,21,7,0.14,0.14,275000.00
3,32003,2019,4,42,3,0.13,0.14,264500.00
4,32003,2019,5,66,8,0.14,0.14,281000.00
...,...,...,...,...,...,...,...,...
22618,34997,2020,10,139,17,0.19,0.25,285000.00
22619,34997,2020,11,132,11,0.17,0.25,259750.00
22620,34997,2020,11,132,11,0.17,0.25,259750.00
22621,34997,2020,12,142,16,0.20,0.25,297000.00
22622,34997,2020,12,142,16,0.20,0.25,297000.00

In [241]:
ml_data.sort_values(by = ['Zip_Code', 'Year', 'Month'], ascending = [True, True, True])
ml_data

,Zip_Code,Year,Month,Total_Sales,FHA_Count,Home_Affordability,Rent_Affordability,Sale_Price,Last_Month_Price,Last_Month_Diff,Price_Change
0,32003,2019,1,32,7,0.13,0.14,244950.00,nan,nan,0
1,32003,2019,2,41,2,0.14,0.14,270000.00,244950.00,nan,0
2,32003,2019,3,21,7,0.14,0.14,275000.00,270000.00,25050.00,1
3,32003,2019,4,42,3,0.13,0.14,264500.00,275000.00,5000.00,1
4,32003,2019,5,66,8,0.14,0.14,281000.00,264500.00,-10500.00,0
...,...,...,...,...,...,...,...,...,...,...,...
22618,34997,2020,10,139,17,0.19,0.25,285000.00,285000.00,29000.00,1
22619,34997,2020,11,132,11,0.17,0.25,259750.00,285000.00,0.00,0
22620,34997,2020,11,132,11,0.17,0.25,259750.00,259750.00,-25250.00,0
22621,34997,2020,12,142,16,0.20,0.25,297000.00,259750.00,0.00,0
22622,34997,2020,12,142,16,0.20,0.25,297000.00,297000.00,37250.00,1

In [255]:
test = ml_data
test['Last_Month_Price'] = test.groupby(['Zip_Code'])['Sale_Price'].shift()



price_difference = []

# for (Sale_Price, Last_Month_Price) in test.iteritems():
#     # sale = row.Sale_Price
#     # last = row.Last_Month_Price
#     price_difference.append(row)

for column in test[['Sale_Price', 'Last_Month_Price']]:
   # Select column contents by column name using [] operator
    current_sales = test['Sale_Price'].values
    last_sales = test['Last_Month_Price'].values
    price_difference.append(current_sales-last_sales)

test['Last_Month_Diff'] = price_difference[0]

price_change = []

for row in test['Last_Month_Diff']:
    if row > 0:
        price_change.append(1)
    else:
        price_change.append(0)
test['Price_Change'] = price_change

test

,Zip_Code,Year,Month,Total_Sales,FHA_Count,Home_Affordability,Rent_Affordability,Sale_Price,Last_Month_Price,Last_Month_Diff,Price_Change
0,32003,2019,1,32,7,0.13,0.14,244950.00,nan,nan,0
1,32003,2019,2,41,2,0.14,0.14,270000.00,244950.00,25050.00,1
2,32003,2019,3,21,7,0.14,0.14,275000.00,270000.00,5000.00,1
3,32003,2019,4,42,3,0.13,0.14,264500.00,275000.00,-10500.00,0
4,32003,2019,5,66,8,0.14,0.14,281000.00,264500.00,16500.00,1
...,...,...,...,...,...,...,...,...,...,...,...
22618,34997,2020,10,139,17,0.19,0.25,285000.00,285000.00,0.00,0
22619,34997,2020,11,132,11,0.17,0.25,259750.00,285000.00,-25250.00,0
22620,34997,2020,11,132,11,0.17,0.25,259750.00,259750.00,0.00,0
22621,34997,2020,12,142,16,0.20,0.25,297000.00,259750.00,37250.00,1
22622,34997,2020,12,142,16,0.20,0.25,297000.00,297000.00,0.00,0

In [118]:
import warnings
warnings.filterwarnings("ignore")

from sklearn import metrics
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [256]:
y_value = test['Sale_Price'].values

x_values = test.drop(columns='Sale_Price')

feature_names = x_values.columns

x_values
y_value

array([244950., 270000., 275000., ..., 259750., 297000., 297000.])

In [257]:

X_train, X_test, y_train, y_test = train_test_split(x_values, y_value, random_state=42)

In [258]:
print("Training set - Features: ", X_train.shape, "Target: ", y_train.shape)
print("Test set - Features: ", X_test.shape, "Target: ",y_test.shape)

Training set - Features:  (16839, 10) Target:  (16839,)
Test set - Features:  (5613, 10) Target:  (5613,)

In [259]:
import lazypredict
from lazypredict.Supervised import LazyRegressor

In [260]:
reg = LazyRegressor(verbose=0, ignore_warnings=False, custom_metric=None)
reg_models, reg_predictions = reg.fit(X_train, X_test, y_train, y_test)

print(reg_models)
print(reg_predictions)

100%|██████████| 42/42 [01:50<00:00,  2.64s/it]                               Adjusted R-Squared  R-Squared      RMSE  \
Model
XGBRegressor                                 0.98       0.98  23293.22
RandomForestRegressor                        0.97       0.97  24142.53
ExtraTreesRegressor                          0.97       0.97  24218.52
BaggingRegressor                             0.96       0.96  29782.57
DecisionTreeRegressor                        0.96       0.96  30007.30
GradientBoostingRegressor                    0.95       0.95  34459.59
LassoCV                                      0.95       0.95  34616.25
LassoLars                                    0.95       0.95  34620.63
Ridge                                        0.95       0.95  34621.31
BayesianRidge                                0.95       0.95  34624.39
RidgeCV                                      0.95       0.95  34624.63
Lasso                                        0.95       0.95  34624.78
TransformedTargetRegressor                   0.95       0.95  34625.00
LinearRegression                             0.95       0.95  34625.00
LassoLarsCV                                  0.95       0.95  34625.00
Lars                                         0.95       0.95  34625.00
LarsCV                                       0.95       0.95  34625.00
SGDRegressor                                 0.95       0.95  34639.24
LassoLarsIC                                  0.95       0.95  34663.85
OrthogonalMatchingPursuitCV                  0.95       0.95  34704.11
RANSACRegressor                              0.94       0.94  36776.97
ExtraTreeRegressor                           0.94       0.94  36782.33
PassiveAggressiveRegressor                   0.94       0.94  36870.97
HuberRegressor                               0.94       0.94  36871.01
KNeighborsRegressor                          0.93       0.94  38091.75
HistGradientBoostingRegressor                0.91       0.91  45242.12
ElasticNet                                   0.88       0.88  52386.79
LGBMRegressor                                0.87       0.87  53930.01
GeneralizedLinearRegressor                   0.79       0.79  68970.40
TweedieRegressor                             0.79       0.79  68970.40
GammaRegressor                               0.66       0.66  86645.21
OrthogonalMatchingPursuit                    0.65       0.66  87804.96
GaussianProcessRegressor                     0.57       0.57  98476.09
PoissonRegressor                             0.55       0.55 100191.53
ElasticNetCV                                 0.02       0.02 148117.50
DummyRegressor                              -0.00      -0.00 149520.41
NuSVR                                       -0.02      -0.02 150746.24
SVR                                         -0.03      -0.03 151545.33
AdaBoostRegressor                           -0.62      -0.62 190148.67
MLPRegressor                                -1.34      -1.33 228269.13
KernelRidge                                 -1.70      -1.70 245541.01
LinearSVR                                   -2.27      -2.26 269942.89

                               Time Taken
Model
XGBRegressor                         0.60
RandomForestRegressor                6.72
ExtraTreesRegressor                  3.49
BaggingRegressor                     0.70
DecisionTreeRegressor                0.15
GradientBoostingRegressor            1.96
LassoCV                              0.25
LassoLars                            0.02
Ridge                                0.02
BayesianRidge                        0.02
RidgeCV                              0.03
Lasso                                0.11
TransformedTargetRegressor           0.02
LinearRegression                     0.02
LassoLarsCV                          0.06
Lars                                 0.02
LarsCV                               0.05
SGDRegressor                         0.04
LassoLarsIC                          0.02
OrthogonalMatchingPursuitCV          0.04
RANSACRegressor                      0.03
ExtraTreeRegressor                   0.07
PassiveAggressiveRegressor           0.13
HuberRegressor                       0.31
KNeighborsRegressor                  0.42
HistGradientBoostingRegressor        0.92
ElasticNet                           0.03
LGBMRegressor                        0.24
GeneralizedLinearRegressor           0.03
TweedieRegressor                     0.03
GammaRegressor                       0.03
OrthogonalMatchingPursuit            0.02
GaussianProcessRegressor            39.48
PoissonRegressor                     0.06
ElasticNetCV                         0.22
DummyRegressor                       0.01
NuSVR                                9.38
SVR                                  9.24
AdaBoostRegressor                    0.61
MLPRegressor                        12.66
KernelRidge                         22.42
LinearSVR                            0.02
                               Adjusted R-Squared  R-Squared      RMSE  \
Model
XGBRegressor                                 0.98       0.98  23293.22
RandomForestRegressor                        0.97       0.97  24142.53
ExtraTreesRegressor                          0.97       0.97  24218.52
BaggingRegressor                             0.96       0.96  29782.57
DecisionTreeRegressor                        0.96       0.96  30007.30
GradientBoostingRegressor                    0.95       0.95  34459.59
LassoCV                                      0.95       0.95  34616.25
LassoLars                                    0.95       0.95  34620.63
Ridge                                        0.95       0.95  34621.31
BayesianRidge                                0.95       0.95  34624.39
RidgeCV                                      0.95       0.95  34624.63
Lasso                                        0.95       0.95  34624.78
TransformedTargetRegressor                   0.95       0.95  34625.00
LinearRegression                             0.95       0.95  34625.00
LassoLarsCV                                  0.95       0.95  34625.00
Lars                                         0.95       0.95  34625.00
LarsCV                                       0.95       0.95  34625.00
SGDRegressor                                 0.95       0.95  34639.24
LassoLarsIC                                  0.95       0.95  34663.85
OrthogonalMatchingPursuitCV                  0.95       0.95  34704.11
RANSACRegressor                              0.94       0.94  36776.97
ExtraTreeRegressor                           0.94       0.94  36782.33
PassiveAggressiveRegressor                   0.94       0.94  36870.97
HuberRegressor                               0.94       0.94  36871.01
KNeighborsRegressor                          0.93       0.94  38091.75
HistGradientBoostingRegressor                0.91       0.91  45242.12
ElasticNet                                   0.88       0.88  52386.79
LGBMRegressor                                0.87       0.87  53930.01
GeneralizedLinearRegressor                   0.79       0.79  68970.40
TweedieRegressor                             0.79       0.79  68970.40
GammaRegressor                               0.66       0.66  86645.21
OrthogonalMatchingPursuit                    0.65       0.66  87804.96
GaussianProcessRegressor                     0.57       0.57  98476.09
PoissonRegressor                             0.55       0.55 100191.53
ElasticNetCV                                 0.02       0.02 148117.50
DummyRegressor                              -0.00      -0.00 149520.41
NuSVR                                       -0.02      -0.02 150746.24
SVR                                         -0.03      -0.03 151545.33
AdaBoostRegressor                           -0.62      -0.62 190148.67
MLPRegressor                                -1.34      -1.33 228269.13
KernelRidge                                 -1.70      -1.70 245541.01
LinearSVR                                   -2.27      -2.26 269942.89

                               Time Taken
Model
XGBRegressor                         0.60
RandomForestRegressor                6.72
ExtraTreesRegressor                  3.49
BaggingRegressor                     0.70
DecisionTreeRegressor                0.15
GradientBoostingRegressor            1.96
LassoCV                              0.25
LassoLars                            0.02
Ridge                                0.02
BayesianRidge                        0.02
RidgeCV                              0.03
Lasso                                0.11
TransformedTargetRegressor           0.02
LinearRegression                     0.02
LassoLarsCV                          0.06
Lars                                 0.02
LarsCV                               0.05
SGDRegressor                         0.04
LassoLarsIC                          0.02
OrthogonalMatchingPursuitCV          0.04
RANSACRegressor                      0.03
ExtraTreeRegressor                   0.07
PassiveAggressiveRegressor           0.13
HuberRegressor                       0.31
KNeighborsRegressor                  0.42
HistGradientBoostingRegressor        0.92
ElasticNet                           0.03
LGBMRegressor                        0.24
GeneralizedLinearRegressor           0.03
TweedieRegressor                     0.03
GammaRegressor                       0.03
OrthogonalMatchingPursuit            0.02
GaussianProcessRegressor            39.48
PoissonRegressor                     0.06
ElasticNetCV                         0.22
DummyRegressor                       0.01
NuSVR                                9.38
SVR                                  9.24
AdaBoostRegressor                    0.61
MLPRegressor                        12.66
KernelRidge                         22.42
LinearSVR                            0.02

In [261]:
y_value = ml_data['Price_Change'].values

x_values = ml_data.drop(columns='Price_Change')

feature_names = x_values.columns

x_values
y_value

array([0, 1, 1, ..., 0, 1, 0])

In [262]:
X_train, X_test, y_train, y_test = train_test_split(x_values, y_value, random_state=42)

In [263]:
from lazypredict.Supervised import LazyClassifier

clf = LazyClassifier(verbose=0,ignore_warnings=False)
models, predictions = clf.fit(X_train, X_test, y_train, y_test)
models

 28%|██▊       | 8/29 [00:01<00:03,  6.33it/s]CategoricalNB model failed to execute
Negative values in data passed to CategoricalNB (input X)
 97%|█████████▋| 28/29 [00:34<00:00,  1.08it/s]StackingClassifier model failed to execute
__init__() missing 1 required positional argument: 'estimators'
100%|██████████| 29/29 [00:35<00:00,  1.21s/it]

,Accuracy,Balanced Accuracy,ROC AUC,F1 Score,Time Taken
Model,,,,,
AdaBoostClassifier,1.00,1.00,1.00,1.00,0.59
DecisionTreeClassifier,1.00,1.00,1.00,1.00,0.04
XGBClassifier,1.00,1.00,1.00,1.00,0.19
BaggingClassifier,1.00,1.00,1.00,1.00,0.13
LGBMClassifier,1.00,1.00,1.00,1.00,0.19
RandomForestClassifier,1.00,1.00,1.00,1.00,0.94
ExtraTreesClassifier,0.98,0.98,0.98,0.98,0.94
LinearSVC,0.98,0.98,0.98,0.98,0.24
LogisticRegression,0.97,0.97,0.97,0.97,0.06
BernoulliNB,0.97,0.97,0.97,0.97,0.03
SGDClassifier,0.97,0.97,0.97,0.97,0.07
SVC,0.97,0.96,0.96,0.97,2.95
Perceptron,0.96,0.96,0.96,0.96,0.04
NuSVC,0.94,0.94,0.94,0.94,8.04
ExtraTreeClassifier,0.93,0.93,0.93,0.93,0.03
PassiveAggressiveClassifier,0.92,0.92,0.92,0.92,0.05
CalibratedClassifierCV,0.90,0.90,0.90,0.90,0.84
KNeighborsClassifier,0.79,0.79,0.79,0.79,0.58
NearestCentroid,0.77,0.77,0.77,0.77,0.03
LabelPropagation,0.77,0.77,0.77,0.77,7.53
LabelSpreading,0.77,0.77,0.77,0.77,11.41
RidgeClassifier,0.77,0.77,0.77,0.77,0.03
RidgeClassifierCV,0.77,0.77,0.77,0.77,0.04
LinearDiscriminantAnalysis,0.77,0.77,0.77,0.77,0.05
GaussianNB,0.64,0.63,0.63,0.60,0.02
QuadraticDiscriminantAnalysis,0.52,0.54,0.54,0.40,0.03
DummyClassifier,0.51,0.51,0.51,0.51,0.02