In [6]:
import pandas as pd

In [7]:
# Read .csv files of school grades and school ZIP codes from Florida Department of Education
file = "./Resources/SchoolGrades19_clean.csv"
school_grades = pd.read_csv(file)

# Read file with school zip code info
file2 = "./Resources/SchoolZipCodes.csv"
school_zip = pd.read_csv(file2)

pd.set_option('display.max_columns', None)

In [8]:
# Drop all columns in school_grades but school number and grade in percent
school_grades = school_grades.loc[:, ["School Number", "Percent of Total Possible Points"]]
school_grades.head()

   School Number  Percent of Total Possible Points
0             31                                54
1             41                                56
2             71                                32
3             91                                58
4            101                                55

In [9]:
# Drop all columns in school_zip but school number and ZIP code
school_zip = school_zip.loc[:, ["SCHOOL", "ZIP"]]
school_zip.head()

   SCHOOL    ZIP
0     221  32615
1      52  32601
2     112  32641
3     400  32601
4     602  32609