In [41]:
import pandas as pd

In [50]:
# Read .csv files of school grades and school ZIP codes from Florida Department of Education
file = "./Resources/SchoolGrades19_clean.csv"
school_grades = pd.read_csv(file)

# Read file with school zip code info
file2 = "./Resources/SchoolZipCodes.csv"
school_zip = pd.read_csv(file2)

In [51]:
# Drop all columns in school_grades but school number and grade in percent
# Original file has no blanks in relevant fields
school_grades = school_grades.loc[:, ["School Number", "Percent of Total Possible Points"]]

school_grades.head()

   School Number  Percent of Total Possible Points
0             31                                54
1             41                                56
2             71                                32
3             91                                58
4            101                                55

In [52]:
# Drop all columns in school_zip but school number and ZIP code
school_zip = school_zip.loc[:, ["SCHOOL", "ZIP"]]

# Drop all rows without a valid ZIP code
# (Blank or invalid ZIP codes were changed to 12345 in CSV file)
index_names = school_zip[school_zip['ZIP'] == 12345 ].index
school_zip = school_zip.drop(index_names)

school_zip.head()

   SCHOOL    ZIP
0     221  32615
1      52  32601
2     112  32641
3     400  32601
4     602  32609

In [53]:
# Add column for zip code in school_grades
school_grades['ZIP']= ""
school_grades.head()

   School Number  Percent of Total Possible Points ZIP
0             31                                54
1             41                                56
2             71                                32
3             91                                58
4            101                                55

In [55]:
# Ensure number formats match between dataframes
# Convert numbers in school_zip so they match number formats in school_grades_elem_xc
school_zip.astype({'SCHOOL': 'int64'}, {'ZIP': 'int64'}).dtypes
school_grades.astype({'School Number': 'int64'}, {'Percent of Total Possible Points': 'int64'})

      School Number  Percent of Total Possible Points ZIP
0                31                                54
1                41                                56
2                71                                32
3                91                                58
4               101                                55
...             ...                               ...  ..
3332            391                                66
3333           7001                                70
3334           7001                                58
3335           7001                                69
3336           7001                                38

[3337 rows x 3 columns]

In [56]:
# Match ZIP codes from school_zip to school codes in school_grades to populate ZIP column in school_grades
for i, row in school_zip.iterrows():
    school_grades.loc[school_grades['School Number'] == row['SCHOOL'], "ZIP"] = row['ZIP']

school_grades.head()

   School Number  Percent of Total Possible Points    ZIP
0             31                                54  32327
1             41                                56  32428
2             71                                32  32327
3             91                                58  32327
4            101                                55  32428

In [ ]:
# Group schools and grades by ZIP