In [1]:
# Required Modules
import pandas as pd
import numpy as np
import lazypredict
import warnings
warnings.filterwarnings("ignore")

from scipy import stats

from sklearn import metrics
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_log_error
from math import sqrt


from lazypredict.Supervised import LazyRegressor
from lazypredict.Supervised import LazyClassifier

In [7]:
data = pd.read_csv('../../Resources/Clean_Data/Final_Data.csv')
data.head()

,Zip_Code,Date,Date_Code,Year,Month,Sale_Price,Interest_Rate,Property_Tax,Rent_Price,Household_Income,...,FTE_Employed,Unemployed,Expense_Index,Average_Commute,Crime_Index,Loan_Amount,Loan_Term,Loan_R,Loan_Payment,Home_Affordability
0,32003,2019-01-01,201901,2019,1,244950.00,4.46,3778,1113,94154.00,...,10671,1069,104,35,28,195960.00,360.00,1.00,988.71,0.13
1,32003,2019-02-01,201902,2019,2,270000.00,4.37,3778,1113,94154.00,...,10671,1069,104,35,28,216000.00,360.00,1.00,1077.82,0.14
2,32003,2019-03-01,201903,2019,3,275000.00,4.26,3778,1113,94154.00,...,10671,1069,104,35,28,220000.00,360.00,1.00,1084.20,0.14
3,32003,2019-04-01,201904,2019,4,264500.00,4.14,3778,1113,94154.00,...,10671,1069,104,35,28,211600.00,360.00,1.00,1027.67,0.13
4,32003,2019-05-01,201905,2019,5,281000.00,4.07,3778,1113,94154.00,...,10671,1069,104,35,28,224800.00,360.00,1.00,1082.58,0.14

In [8]:
ml_data = data[['Zip_Code', 'Year', 'Month', 'Mobility_Rate', 'Expense_Index', 'Crime_Index' , 'Total_Vacant', 'Total_Dwellings', 'Total_Sales', 'FHA_Count', 'Home_Affordability', 'Rent_Affordability', 'Sale_Price' ]]
# ml_data.index = ml_data['Zip_Code']
ml_data.head()

,Zip_Code,Year,Month,Mobility_Rate,Expense_Index,Crime_Index,Total_Vacant,Total_Dwellings,Total_Sales,FHA_Count,Home_Affordability,Rent_Affordability,Sale_Price
0,32003,2019,1,0.18,104,28,704,11724,32,7,0.13,0.14,244950.00
1,32003,2019,2,0.18,104,28,704,11724,41,2,0.14,0.14,270000.00
2,32003,2019,3,0.18,104,28,704,11724,21,7,0.14,0.14,275000.00
3,32003,2019,4,0.18,104,28,704,11724,42,3,0.13,0.14,264500.00
4,32003,2019,5,0.18,104,28,704,11724,66,8,0.14,0.14,281000.00

In [9]:
ml_data_3mo = ml_data.sort_values(by = ['Zip_Code', 'Year', 'Month'], ascending = [True, True, True])
ml_data_3mo.head()

,Zip_Code,Year,Month,Mobility_Rate,Expense_Index,Crime_Index,Total_Vacant,Total_Dwellings,Total_Sales,FHA_Count,Home_Affordability,Rent_Affordability,Sale_Price
0,32003,2019,1,0.18,104,28,704,11724,32,7,0.13,0.14,244950.00
1,32003,2019,2,0.18,104,28,704,11724,41,2,0.14,0.14,270000.00
2,32003,2019,3,0.18,104,28,704,11724,21,7,0.14,0.14,275000.00
3,32003,2019,4,0.18,104,28,704,11724,42,3,0.13,0.14,264500.00
4,32003,2019,5,0.18,104,28,704,11724,66,8,0.14,0.14,281000.00

In [10]:
ml_data_3mo['Last_Month_Price'] = ml_data_3mo.groupby(['Zip_Code'])['Sale_Price'].shift()
ml_data_3mo['Last_2Month_Price'] = ml_data_3mo.groupby(['Zip_Code'])['Sale_Price'].shift(2)
ml_data_3mo['Last_3Month_Price'] = ml_data_3mo.groupby(['Zip_Code'])['Sale_Price'].shift(3)


price_difference_1 = []
price_difference_2 = []
price_difference_3 = []


for column in ml_data_3mo[['Sale_Price', 'Last_Month_Price', 'Last_2Month_Price',
                    'Last_3Month_Price']]:
   # Select column contents by column name using [] operator
    current_sales = ml_data_3mo['Sale_Price'].values
    last_sales = ml_data_3mo['Last_Month_Price'].values
    last_2mo_sale = ml_data_3mo['Last_2Month_Price'].values
    last_3mo_sale = ml_data_3mo['Last_3Month_Price'].values
    price_difference_1.append(current_sales-last_sales)
    price_difference_2.append(last_sales-last_2mo_sale)
    price_difference_3.append(last_2mo_sale-last_3mo_sale)
    

ml_data_3mo['Last_Month_Diff'] = price_difference_1[0]
ml_data_3mo['Last_2Month_Diff'] = price_difference_2[0]
ml_data_3mo['Last_3Month_Diff'] = price_difference_3[0]

ml_data_3mo.head()

,Zip_Code,Year,Month,Mobility_Rate,Expense_Index,Crime_Index,Total_Vacant,Total_Dwellings,Total_Sales,FHA_Count,Home_Affordability,Rent_Affordability,Sale_Price,Last_Month_Price,Last_2Month_Price,Last_3Month_Price,Last_Month_Diff,Last_2Month_Diff,Last_3Month_Diff
0,32003,2019,1,0.18,104,28,704,11724,32,7,0.13,0.14,244950.00,nan,nan,nan,nan,nan,nan
1,32003,2019,2,0.18,104,28,704,11724,41,2,0.14,0.14,270000.00,244950.00,nan,nan,25050.00,nan,nan
2,32003,2019,3,0.18,104,28,704,11724,21,7,0.14,0.14,275000.00,270000.00,244950.00,nan,5000.00,25050.00,nan
3,32003,2019,4,0.18,104,28,704,11724,42,3,0.13,0.14,264500.00,275000.00,270000.00,244950.00,-10500.00,5000.00,25050.00
4,32003,2019,5,0.18,104,28,704,11724,66,8,0.14,0.14,281000.00,264500.00,275000.00,270000.00,16500.00,-10500.00,5000.00

In [11]:
ml_data_3mo.replace([np.inf, -np.inf], np.nan, inplace=True)
ml_data_3mo.dropna(inplace=True)
ml_data_3mo.head()

,Zip_Code,Year,Month,Mobility_Rate,Expense_Index,Crime_Index,Total_Vacant,Total_Dwellings,Total_Sales,FHA_Count,Home_Affordability,Rent_Affordability,Sale_Price,Last_Month_Price,Last_2Month_Price,Last_3Month_Price,Last_Month_Diff,Last_2Month_Diff,Last_3Month_Diff
3,32003,2019,4,0.18,104,28,704,11724,42,3,0.13,0.14,264500.00,275000.00,270000.00,244950.00,-10500.00,5000.00,25050.00
4,32003,2019,5,0.18,104,28,704,11724,66,8,0.14,0.14,281000.00,264500.00,275000.00,270000.00,16500.00,-10500.00,5000.00
5,32003,2019,6,0.18,104,28,704,11724,43,3,0.13,0.14,275000.00,281000.00,264500.00,275000.00,-6000.00,16500.00,-10500.00
6,32003,2019,7,0.18,104,28,704,11724,90,7,0.13,0.14,282500.00,275000.00,281000.00,264500.00,7500.00,-6000.00,16500.00
7,32003,2019,8,0.18,104,28,704,11724,64,5,0.13,0.14,269577.00,282500.00,275000.00,281000.00,-12923.00,7500.00,-6000.00

In [12]:
y_value = ml_data_3mo['Sale_Price'].values

x_values = ml_data_3mo.drop(columns='Sale_Price')

feature_names = x_values.columns

x_values

,Zip_Code,Year,Month,Mobility_Rate,Expense_Index,Crime_Index,Total_Vacant,Total_Dwellings,Total_Sales,FHA_Count,Home_Affordability,Rent_Affordability,Last_Month_Price,Last_2Month_Price,Last_3Month_Price,Last_Month_Diff,Last_2Month_Diff,Last_3Month_Diff
3,32003,2019,4,0.18,104,28,704,11724,42,3,0.13,0.14,275000.00,270000.00,244950.00,-10500.00,5000.00,25050.00
4,32003,2019,5,0.18,104,28,704,11724,66,8,0.14,0.14,264500.00,275000.00,270000.00,16500.00,-10500.00,5000.00
5,32003,2019,6,0.18,104,28,704,11724,43,3,0.13,0.14,281000.00,264500.00,275000.00,-6000.00,16500.00,-10500.00
6,32003,2019,7,0.18,104,28,704,11724,90,7,0.13,0.14,275000.00,281000.00,264500.00,7500.00,-6000.00,16500.00
7,32003,2019,8,0.18,104,28,704,11724,64,5,0.13,0.14,282500.00,275000.00,281000.00,-12923.00,7500.00,-6000.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23505,34997,2020,11,0.14,91,113,2976,21551,132,11,0.17,0.25,285000.00,256000.00,251000.00,-25250.00,29000.00,5000.00
23506,34997,2020,12,0.14,91,113,2976,21551,142,16,0.20,0.25,259750.00,285000.00,256000.00,37250.00,-25250.00,29000.00
23507,34997,2021,1,0.14,91,113,2976,21551,81,10,0.20,0.25,297000.00,259750.00,285000.00,8000.00,37250.00,-25250.00
23508,34997,2021,2,0.14,91,113,2976,21551,116,7,0.20,0.25,305000.00,297000.00,259750.00,-5000.00,8000.00,37250.00
23509,34997,2021,3,0.14,91,113,2976,21551,7,12,0.42,0.25,300000.00,305000.00,297000.00,299000.00,-5000.00,8000.00

In [13]:
X_train, X_test, y_train, y_test = train_test_split(x_values, y_value, random_state=42)

In [14]:
reg = LazyRegressor(verbose=0, ignore_warnings=False, custom_metric=None)
reg_models, reg_predictions = reg.fit(X_train, X_test, y_train, y_test)

print(reg_models)

100%|██████████| 42/42 [01:58<00:00,  2.83s/it]                               Adjusted R-Squared  R-Squared      RMSE  \
Model
OrthogonalMatchingPursuitCV                  1.00       1.00      0.00
HuberRegressor                               1.00       1.00      0.00
TransformedTargetRegressor                   1.00       1.00      0.00
LarsCV                                       1.00       1.00      0.00
Lars                                         1.00       1.00      0.00
RANSACRegressor                              1.00       1.00      0.00
LassoLarsCV                                  1.00       1.00      0.00
LassoLarsIC                                  1.00       1.00      0.00
LinearRegression                             1.00       1.00      0.00
PassiveAggressiveRegressor                   1.00       1.00      0.02
RidgeCV                                      1.00       1.00      1.99
Ridge                                        1.00       1.00     19.85
SGDRegressor                                 1.00       1.00     31.12
Lasso                                        1.00       1.00     31.76
LassoLars                                    1.00       1.00    211.93
LassoCV                                      1.00       1.00    233.58
ExtraTreesRegressor                          0.99       0.99  14697.84
RandomForestRegressor                        0.99       0.99  15280.20
XGBRegressor                                 0.99       0.99  15667.66
HistGradientBoostingRegressor                0.99       0.99  17562.65
GradientBoostingRegressor                    0.98       0.98  17981.64
BaggingRegressor                             0.98       0.98  17983.79
LGBMRegressor                                0.98       0.98  18118.15
DecisionTreeRegressor                        0.98       0.98  21833.92
ElasticNet                                   0.95       0.95  33101.07
ExtraTreeRegressor                           0.94       0.94  35360.35
KNeighborsRegressor                          0.93       0.94  37077.02
TweedieRegressor                             0.90       0.90  46294.00
GeneralizedLinearRegressor                   0.90       0.90  46294.00
AdaBoostRegressor                            0.79       0.79  67195.05
OrthogonalMatchingPursuit                    0.77       0.77  69626.96
PoissonRegressor                             0.69       0.69  81123.07
BayesianRidge                                0.50       0.51 102190.61
ElasticNetCV                                 0.04       0.05 142092.32
DummyRegressor                              -0.00      -0.00 145454.77
NuSVR                                       -0.02      -0.01 146328.07
SVR                                         -0.03      -0.03 147345.38
GaussianProcessRegressor                    -0.06      -0.06 149754.83
GammaRegressor                              -0.07      -0.07 150254.80
MLPRegressor                                -0.87      -0.86 198585.46
KernelRidge                                 -1.90      -1.89 247262.16
LinearSVR                                   -2.53      -2.52 272856.57

                               Time Taken
Model
OrthogonalMatchingPursuitCV          0.06
HuberRegressor                       0.50
TransformedTargetRegressor           0.03
LarsCV                               0.06
Lars                                 0.03
RANSACRegressor                      0.04
LassoLarsCV                          0.07
LassoLarsIC                          0.02
LinearRegression                     0.02
PassiveAggressiveRegressor           0.11
RidgeCV                              0.06
Ridge                                0.02
SGDRegressor                         0.09
Lasso                                0.15
LassoLars                            0.03
LassoCV                              0.59
ExtraTreesRegressor                  5.26
RandomForestRegressor               12.28
XGBRegressor                         0.56
HistGradientBoostingRegressor        0.98
GradientBoostingRegressor            3.80
BaggingRegressor                     1.25
LGBMRegressor                        0.24
DecisionTreeRegressor                0.24
ElasticNet                           0.06
ExtraTreeRegressor                   0.11
KNeighborsRegressor                  2.05
TweedieRegressor                     0.03
GeneralizedLinearRegressor           0.04
AdaBoostRegressor                    1.20
OrthogonalMatchingPursuit            0.03
PoissonRegressor                     0.08
BayesianRidge                        0.11
ElasticNetCV                         0.22
DummyRegressor                       0.02
NuSVR                               10.08
SVR                                 10.29
GaussianProcessRegressor            35.80
GammaRegressor                       0.04
MLPRegressor                        13.36
KernelRidge                         18.67
LinearSVR                            0.03

In [17]:
pip install dataframe-image

Collecting dataframe-image
  Downloading dataframe_image-0.1.1-py3-none-any.whl (32 kB)
Requirement already satisfied: beautifulsoup4 in /Users/jjwilliams/anaconda3/envs/PythonData/lib/python3.6/site-packages (from dataframe-image) (4.9.1)
Requirement already satisfied: nbconvert>=5 in /Users/jjwilliams/anaconda3/envs/PythonData/lib/python3.6/site-packages (from dataframe-image) (5.6.1)
Requirement already satisfied: matplotlib>=3.1 in /Users/jjwilliams/anaconda3/envs/PythonData/lib/python3.6/site-packages (from dataframe-image) (3.2.2)
Requirement already satisfied: requests in /Users/jjwilliams/anaconda3/envs/PythonData/lib/python3.6/site-packages (from dataframe-image) (2.24.0)
Requirement already satisfied: pandas>=0.24 in /Users/jjwilliams/anaconda3/envs/PythonData/lib/python3.6/site-packages (from dataframe-image) (1.0.5)
Collecting aiohttp
  Downloading aiohttp-3.7.4.post0-cp36-cp36m-macosx_10_14_x86_64.whl (647 kB)
     |████████████████████████████████| 647 kB 4.4 MB/s
Requirement already satisfied: soupsieve>1.2 in /Users/jjwilliams/anaconda3/envs/PythonData/lib/python3.6/site-packages (from beautifulsoup4->dataframe-image) (2.0.1)
Requirement already satisfied: traitlets>=4.2 in /Users/jjwilliams/anaconda3/envs/PythonData/lib/python3.6/site-packages (from nbconvert>=5->dataframe-image) (4.3.3)
Requirement already satisfied: mistune<2,>=0.8.1 in /Users/jjwilliams/anaconda3/envs/PythonData/lib/python3.6/site-packages (from nbconvert>=5->dataframe-image) (0.8.4)
Requirement already satisfied: pygments in /Users/jjwilliams/anaconda3/envs/PythonData/lib/python3.6/site-packages (from nbconvert>=5->dataframe-image) (2.6.1)
Requirement already satisfied: jupyter-core in /Users/jjwilliams/anaconda3/envs/PythonData/lib/python3.6/site-packages (from nbconvert>=5->dataframe-image) (4.6.3)
Requirement already satisfied: entrypoints>=0.2.2 in /Users/jjwilliams/anaconda3/envs/PythonData/lib/python3.6/site-packages (from nbconvert>=5->dataframe-image) (0.3)
Requirement already satisfied: testpath in /Users/jjwilliams/anaconda3/envs/PythonData/lib/python3.6/site-packages (from nbconvert>=5->dataframe-image) (0.4.4)
Requirement already satisfied: jinja2>=2.4 in /Users/jjwilliams/anaconda3/envs/PythonData/lib/python3.6/site-packages (from nbconvert>=5->dataframe-image) (2.11.2)
Requirement already satisfied: pandocfilters>=1.4.1 in /Users/jjwilliams/anaconda3/envs/PythonData/lib/python3.6/site-packages (from nbconvert>=5->dataframe-image) (1.4.2)
Requirement already satisfied: defusedxml in /Users/jjwilliams/anaconda3/envs/PythonData/lib/python3.6/site-packages (from nbconvert>=5->dataframe-image) (0.6.0)
Requirement already satisfied: nbformat>=4.4 in /Users/jjwilliams/anaconda3/envs/PythonData/lib/python3.6/site-packages (from nbconvert>=5->dataframe-image) (5.0.7)
Requirement already satisfied: bleach in /Users/jjwilliams/anaconda3/envs/PythonData/lib/python3.6/site-packages (from nbconvert>=5->dataframe-image) (3.1.5)
Requirement already satisfied: python-dateutil>=2.1 in /Users/jjwilliams/anaconda3/envs/PythonData/lib/python3.6/site-packages (from matplotlib>=3.1->dataframe-image) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /Users/jjwilliams/anaconda3/envs/PythonData/lib/python3.6/site-packages (from matplotlib>=3.1->dataframe-image) (2.4.7)
Requirement already satisfied: numpy>=1.11 in /Users/jjwilliams/anaconda3/envs/PythonData/lib/python3.6/site-packages (from matplotlib>=3.1->dataframe-image) (1.19.5)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/jjwilliams/anaconda3/envs/PythonData/lib/python3.6/site-packages (from matplotlib>=3.1->dataframe-image) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /Users/jjwilliams/anaconda3/envs/PythonData/lib/python3.6/site-packages (from matplotlib>=3.1->dataframe-image) (0.10.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/jjwilliams/anaconda3/envs/PythonData/lib/python3.6/site-packages (from requests->dataframe-image) (1.25.9)
Requirement already satisfied: chardet<4,>=3.0.2 in /Users/jjwilliams/anaconda3/envs/PythonData/lib/python3.6/site-packages (from requests->dataframe-image) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/jjwilliams/anaconda3/envs/PythonData/lib/python3.6/site-packages (from requests->dataframe-image) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in /Users/jjwilliams/anaconda3/envs/PythonData/lib/python3.6/site-packages (from requests->dataframe-image) (2.10)
Requirement already satisfied: pytz>=2017.2 in /Users/jjwilliams/anaconda3/envs/PythonData/lib/python3.6/site-packages (from pandas>=0.24->dataframe-image) (2020.1)
Collecting yarl<2.0,>=1.0
  Downloading yarl-1.6.3-cp36-cp36m-macosx_10_14_x86_64.whl (124 kB)
     |████████████████████████████████| 124 kB 22.0 MB/s
Collecting idna-ssl>=1.0; python_version < "3.7"
  Downloading idna-ssl-1.1.0.tar.gz (3.4 kB)
Requirement already satisfied: attrs>=17.3.0 in /Users/jjwilliams/anaconda3/envs/PythonData/lib/python3.6/site-packages (from aiohttp->dataframe-image) (19.3.0)
Requirement already satisfied: typing-extensions>=3.6.5 in /Users/jjwilliams/anaconda3/envs/PythonData/lib/python3.6/site-packages (from aiohttp->dataframe-image) (3.7.4.2)
Collecting async-timeout<4.0,>=3.0
  Downloading async_timeout-3.0.1-py3-none-any.whl (8.2 kB)
Collecting multidict<7.0,>=4.5
  Downloading multidict-5.1.0-cp36-cp36m-macosx_10_14_x86_64.whl (49 kB)
     |████████████████████████████████| 49 kB 19.5 MB/s
Requirement already satisfied: ipython-genutils in /Users/jjwilliams/anaconda3/envs/PythonData/lib/python3.6/site-packages (from traitlets>=4.2->nbconvert>=5->dataframe-image) (0.2.0)
Requirement already satisfied: decorator in /Users/jjwilliams/anaconda3/envs/PythonData/lib/python3.6/site-packages (from traitlets>=4.2->nbconvert>=5->dataframe-image) (4.4.2)
Requirement already satisfied: six in /Users/jjwilliams/anaconda3/envs/PythonData/lib/python3.6/site-packages (from traitlets>=4.2->nbconvert>=5->dataframe-image) (1.15.0)
Requirement already satisfied: MarkupSafe>=0.23 in /Users/jjwilliams/anaconda3/envs/PythonData/lib/python3.6/site-packages (from jinja2>=2.4->nbconvert>=5->dataframe-image) (1.1.1)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /Users/jjwilliams/anaconda3/envs/PythonData/lib/python3.6/site-packages (from nbformat>=4.4->nbconvert>=5->dataframe-image) (3.2.0)
Requirement already satisfied: webencodings in /Users/jjwilliams/anaconda3/envs/PythonData/lib/python3.6/site-packages (from bleach->nbconvert>=5->dataframe-image) (0.5.1)
Requirement already satisfied: packaging in /Users/jjwilliams/anaconda3/envs/PythonData/lib/python3.6/site-packages (from bleach->nbconvert>=5->dataframe-image) (20.4)
Requirement already satisfied: setuptools in /Users/jjwilliams/anaconda3/envs/PythonData/lib/python3.6/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert>=5->dataframe-image) (49.2.0.post20200714)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /Users/jjwilliams/anaconda3/envs/PythonData/lib/python3.6/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert>=5->dataframe-image) (1.7.0)
Requirement already satisfied: pyrsistent>=0.14.0 in /Users/jjwilliams/anaconda3/envs/PythonData/lib/python3.6/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert>=5->dataframe-image) (0.16.0)
Requirement already satisfied: zipp>=0.5 in /Users/jjwilliams/anaconda3/envs/PythonData/lib/python3.6/site-packages (from importlib-metadata; python_version < "3.8"->jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert>=5->dataframe-image) (3.1.0)
Building wheels for collected packages: idna-ssl
  Building wheel for idna-ssl (setup.py) ... done
  Created wheel for idna-ssl: filename=idna_ssl-1.1.0-py3-none-any.whl size=3160 sha256=0afb6426cc64115db02b7e169d40b869309e4da3c1d2449c173c14725f7cf136
  Stored in directory: /Users/jjwilliams/Library/Caches/pip/wheels/6a/f5/9c/f8331a854f7a8739cf0e74c13854e4dd7b1af11b04fe1dde13
Successfully built idna-ssl
Installing collected packages: multidict, yarl, idna-ssl, async-timeout, aiohttp, dataframe-image
Successfully installed aiohttp-3.7.4.post0 async-timeout-3.0.1 dataframe-image-0.1.1 idna-ssl-1.1.0 multidict-5.1.0 yarl-1.6.3
Note: you may need to restart the kernel to use updated packages.

In [18]:
import dataframe_image as dfi
dfi.export(reg_models, 'lazy_pred_reg.png')

In [20]:
price_change_1mo = []

for row in ml_data_3mo['Last_Month_Diff']:
    if row > 0:
        price_change_1mo.append(1)
    else:
        price_change_1mo.append(0)
ml_data_3mo['Price_Change_1mo'] = price_change_1mo

ml_data_3mo

,Zip_Code,Year,Month,Mobility_Rate,Expense_Index,Crime_Index,Total_Vacant,Total_Dwellings,Total_Sales,FHA_Count,Home_Affordability,Rent_Affordability,Sale_Price,Last_Month_Price,Last_2Month_Price,Last_3Month_Price,Last_Month_Diff,Last_2Month_Diff,Last_3Month_Diff,Price_Change_1mo
3,32003,2019,4,0.18,104,28,704,11724,42,3,0.13,0.14,264500.00,275000.00,270000.00,244950.00,-10500.00,5000.00,25050.00,0
4,32003,2019,5,0.18,104,28,704,11724,66,8,0.14,0.14,281000.00,264500.00,275000.00,270000.00,16500.00,-10500.00,5000.00,1
5,32003,2019,6,0.18,104,28,704,11724,43,3,0.13,0.14,275000.00,281000.00,264500.00,275000.00,-6000.00,16500.00,-10500.00,0
6,32003,2019,7,0.18,104,28,704,11724,90,7,0.13,0.14,282500.00,275000.00,281000.00,264500.00,7500.00,-6000.00,16500.00,1
7,32003,2019,8,0.18,104,28,704,11724,64,5,0.13,0.14,269577.00,282500.00,275000.00,281000.00,-12923.00,7500.00,-6000.00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23505,34997,2020,11,0.14,91,113,2976,21551,132,11,0.17,0.25,259750.00,285000.00,256000.00,251000.00,-25250.00,29000.00,5000.00,0
23506,34997,2020,12,0.14,91,113,2976,21551,142,16,0.20,0.25,297000.00,259750.00,285000.00,256000.00,37250.00,-25250.00,29000.00,1
23507,34997,2021,1,0.14,91,113,2976,21551,81,10,0.20,0.25,305000.00,297000.00,259750.00,285000.00,8000.00,37250.00,-25250.00,1
23508,34997,2021,2,0.14,91,113,2976,21551,116,7,0.20,0.25,300000.00,305000.00,297000.00,259750.00,-5000.00,8000.00,37250.00,0
23509,34997,2021,3,0.14,91,113,2976,21551,7,12,0.42,0.25,599000.00,300000.00,305000.00,297000.00,299000.00,-5000.00,8000.00,1

In [21]:
ml_data_3mo = ml_data_3mo.drop(columns=['Zip_Code', 'Year', 'Month','Last_Month_Price', 'Last_Month_Diff', 'Last_2Month_Price', 'Last_2Month_Diff', 'Last_3Month_Price', 'Last_3Month_Diff'])
ml_data_3mo.head()

,Mobility_Rate,Expense_Index,Crime_Index,Total_Vacant,Total_Dwellings,Total_Sales,FHA_Count,Home_Affordability,Rent_Affordability,Sale_Price,Price_Change_1mo
3,0.18,104,28,704,11724,42,3,0.13,0.14,264500.00,0
4,0.18,104,28,704,11724,66,8,0.14,0.14,281000.00,1
5,0.18,104,28,704,11724,43,3,0.13,0.14,275000.00,0
6,0.18,104,28,704,11724,90,7,0.13,0.14,282500.00,1
7,0.18,104,28,704,11724,64,5,0.13,0.14,269577.00,0

In [22]:
ml_data_3mo.replace([np.inf, -np.inf], np.nan, inplace=True)
ml_data_3mo.dropna(inplace=True)

In [23]:
y_value = ml_data_3mo['Price_Change_1mo'].values

x_values = ml_data_3mo.drop(columns='Price_Change_1mo')

feature_names = x_values.columns

x_values

,Mobility_Rate,Expense_Index,Crime_Index,Total_Vacant,Total_Dwellings,Total_Sales,FHA_Count,Home_Affordability,Rent_Affordability,Sale_Price
3,0.18,104,28,704,11724,42,3,0.13,0.14,264500.00
4,0.18,104,28,704,11724,66,8,0.14,0.14,281000.00
5,0.18,104,28,704,11724,43,3,0.13,0.14,275000.00
6,0.18,104,28,704,11724,90,7,0.13,0.14,282500.00
7,0.18,104,28,704,11724,64,5,0.13,0.14,269577.00
...,...,...,...,...,...,...,...,...,...,...
23505,0.14,91,113,2976,21551,132,11,0.17,0.25,259750.00
23506,0.14,91,113,2976,21551,142,16,0.20,0.25,297000.00
23507,0.14,91,113,2976,21551,81,10,0.20,0.25,305000.00
23508,0.14,91,113,2976,21551,116,7,0.20,0.25,300000.00
23509,0.14,91,113,2976,21551,7,12,0.42,0.25,599000.00

In [24]:
X_train, X_test, y_train, y_test = train_test_split(x_values, y_value, random_state=42)

In [25]:
from lazypredict.Supervised import LazyClassifier

clf = LazyClassifier(verbose=0,ignore_warnings=False)
models, predictions = clf.fit(X_train, X_test, y_train, y_test)
models

 21%|██        | 6/29 [00:05<00:17,  1.28it/s]CategoricalNB model failed to execute
Negative values in data passed to CategoricalNB (input X)
 90%|████████▉ | 26/29 [01:23<00:11,  3.86s/it]StackingClassifier model failed to execute
__init__() missing 1 required positional argument: 'estimators'
100%|██████████| 29/29 [01:24<00:00,  2.92s/it]

,Accuracy,Balanced Accuracy,ROC AUC,F1 Score,Time Taken
Model,,,,,
RandomForestClassifier,0.67,0.67,0.67,0.67,2.55
ExtraTreesClassifier,0.66,0.66,0.66,0.66,1.50
LGBMClassifier,0.66,0.65,0.65,0.66,0.30
XGBClassifier,0.66,0.65,0.65,0.65,0.59
BaggingClassifier,0.64,0.64,0.64,0.64,0.72
NuSVC,0.64,0.64,0.64,0.64,48.47
SVC,0.63,0.62,0.62,0.63,7.34
CalibratedClassifierCV,0.61,0.61,0.61,0.61,3.70
LinearSVC,0.61,0.61,0.61,0.61,0.99
LogisticRegression,0.61,0.61,0.61,0.61,0.05
AdaBoostClassifier,0.61,0.60,0.60,0.60,0.55
KNeighborsClassifier,0.60,0.60,0.60,0.60,0.27
RidgeClassifierCV,0.61,0.60,0.60,0.60,0.04
LinearDiscriminantAnalysis,0.61,0.60,0.60,0.60,0.06
RidgeClassifier,0.61,0.60,0.60,0.60,0.03
LabelPropagation,0.60,0.60,0.60,0.60,6.81
LabelSpreading,0.60,0.59,0.59,0.60,10.34
DecisionTreeClassifier,0.60,0.59,0.59,0.60,0.13
SGDClassifier,0.60,0.59,0.59,0.59,0.11
ExtraTreeClassifier,0.59,0.59,0.59,0.59,0.03
BernoulliNB,0.59,0.58,0.58,0.59,0.03
NearestCentroid,0.57,0.58,0.58,0.57,0.03
QuadraticDiscriminantAnalysis,0.56,0.57,0.57,0.53,0.03
GaussianNB,0.54,0.56,0.56,0.52,0.03
PassiveAggressiveClassifier,0.55,0.55,0.55,0.55,0.04
Perceptron,0.55,0.54,0.54,0.53,0.03
DummyClassifier,0.52,0.52,0.52,0.52,0.02

In [26]:
dfi.export(models, 'lazy_pred_clas.png')