In [564]:
# Required Modules
import pandas as pd
import sqlite3
import os
import datetime as dt

# ML Input Data
input_path = os.path.abspath('Resources/Final_Data.csv')
input_df = pd.read_csv(input_path, header=0)

# ML VAR Model Output
VAR_path = os.path.abspath('Resources/ML_Outputs/var_model_predict.csv')
VAR_df = pd.read_csv(VAR_path, header=0).drop(columns={'Unnamed: 0'})

# ML ARIMA Model Output
ARIMA_path = os.path.abspath('Resources/ML_Outputs/April_2021_preds_by_zip.csv')
ARIMA_df = pd.read_csv(ARIMA_path, header=0)

# Tableau Data
tableau_path = os.path.abspath('Resources/Tableau_Data.csv')

In [565]:
input_df.columns

Index(['Zip_Code', 'Date', 'Date_Code', 'Year', 'Month', 'Sale_Price',
       'Interest_Rate', 'Property_Tax', 'Rent_Price', 'Household_Income',
       'Rent_Affordability', 'Total_Sales', 'FHA_Count', 'Mobility_Rate',
       'School_Rating', 'School_Grade', 'Owner_Occupied', 'Renter_Occupied',
       'Total_Vacant', 'Total_Dwellings', 'FTE_Employed', 'Unemployed',
       'Expense_Index', 'Average_Commute', 'Crime_Index', 'Loan_Amount',
       'Loan_Term', 'Loan_R', 'Loan_Payment', 'Home_Affordability'],
      dtype='object')

In [566]:
ARIMA_df['Date_Code'] = 202104
ARIMA_df.columns

Index(['Zip_Code', 'ARIMA_Sales_Price', 'Date_Code'], dtype='object')

In [567]:
VAR_df.columns

Index(['Zip_Code', 'Month', 'Testing_Total_Sales', 'Testing_FHA_Count',
       'Testing_Sale_Price', 'Total_Sales_Prediction', 'FHA_Count_Prediction',
       'Sale_Price_Prediction', 'Sales_Mean_Error', 'FHA_Count_Mean_Error',
       'Sale_Price_Mean_Error'],
      dtype='object')

In [568]:
input_df['Date_Code'].sort_values().unique()

array([201901, 201902, 201903, 201904, 201905, 201906, 201907, 201908,
       201909, 201910, 201911, 201912, 202001, 202002, 202003, 202004,
       202005, 202006, 202007, 202008, 202009, 202010, 202011, 202012,
       202101, 202102, 202103], dtype=int64)

In [569]:
VAR_df['Date_Code'] = 202101

input_df['State'] = 'Florida'
input_df = input_df[['State','Zip_Code','Date','Date_Code','Sale_Price','Interest_Rate', 'Property_Tax', 'Rent_Price', 'Household_Income', 'Rent_Affordability', 'Total_Sales', 'FHA_Count', 'Mobility_Rate', 'School_Rating', 'School_Grade', 'Owner_Occupied', 'Renter_Occupied', 'Total_Vacant', 'Total_Dwellings', 'FTE_Employed', 'Unemployed', 'Expense_Index', 'Average_Commute', 'Crime_Index', 'Loan_Amount', 'Loan_Term', 'Loan_R', 'Loan_Payment', 'Home_Affordability']]
VAR_df = VAR_df[['Zip_Code','Date_Code','Testing_Total_Sales', 'Testing_FHA_Count', 'Testing_Sale_Price', 'Total_Sales_Prediction', 'FHA_Count_Prediction', 'Sale_Price_Prediction', 'Sales_Mean_Error', 'FHA_Count_Mean_Error', 'Sale_Price_Mean_Error']]

In [570]:
# Merge into one DataFrame
final_df = input_df.merge(ARIMA_df, how='outer' ,on=['Zip_Code','Date_Code'])

# final_df['Str_Year'] = final_df['Date_Code'].astype('str')[4:]
# final_df['Str_Month'] = final_df['Date_Code'].astype('str')[:4]


for date_code in final_df['Date_Code']:
    final_df[final_df['Date_Code']==date_code]['Date'] = dt.datetime.strptime(str(date_code)[:4]+'-'+str(date_code)[4:]+'-01','%Y-%m-%d')
    # print(date_code)


# final_df = df_1.merge(df_2, how='left' ,on=['Zip_Code','Date_Code'])
# final_df['Date_Code'].sort_values().unique()
# final_df[['Date_Code','Date']].sort_values(by='Date_Code')

final_df[final_df['Date_Code']==202104]

<ipython-input-570-3771faac8711>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df[final_df['Date_Code']==date_code]['Date'] = dt.datetime.strptime(str(date_code)[:4]+'-'+str(date_code)[4:]+'-01','%Y-%m-%d')

,State,Zip_Code,Date,Date_Code,Sale_Price,Interest_Rate,Property_Tax,Rent_Price,Household_Income,Rent_Affordability,...,Unemployed,Expense_Index,Average_Commute,Crime_Index,Loan_Amount,Loan_Term,Loan_R,Loan_Payment,Home_Affordability,ARIMA_Sales_Price
23510,NaN,32003,NaN,202104,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,332455.527071
23511,NaN,32011,NaN,202104,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,251787.582929
23512,NaN,32024,NaN,202104,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,175045.008608
23513,NaN,32025,NaN,202104,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,138263.066335
23514,NaN,32033,NaN,202104,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,240471.399966
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24300,NaN,34987,NaN,202104,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,309888.600689
24301,NaN,34990,NaN,202104,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,301394.143065
24302,NaN,34994,NaN,202104,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,162946.277908
24303,NaN,34996,NaN,202104,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,438297.153365
24304,NaN,34997,NaN,202104,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,588170.163156

In [571]:
# Write combined data to csv
final_df.to_csv(tableau_path, index=False)